<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/MAIN.css') }}">
    <title>{{ title }}</title>
    <script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.js",
    "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/"
  }
}
</script>
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
</head>
<body>
    <div class="main-screen">
        <h1>Dashboard Swall-E</h1>
        <div class="layout">
            <main id="3d-container">

            </main>
            <aside>
                <h2>Données expérimentales</h2>
                <div class="graph-content">
                    <div class="graph-container">
                        <div class="img-box">
                            <div id="plot1" style="width: 100%; height: 100%;"></div>
                        </div>
                        <div class="img-box">
                            <div id="plot2" style="width: 100%; height: 100%;"></div>
                        </div>
                        <div class="img-box">
                            <div id="plot3" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                    <div class="graph-container">
                        <div class="img-box">
                            <div id="plot4" style="width: 100%; height: 100%;"></div>
                        </div>
                        <div class="img-box">
                            <div id="plot5" style="width: 100%; height: 100%;"></div>
                        </div>
                        <div class="img-box">
                            <div id="plot6" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
                
                
                
                
            </aside>
        </div>
        <script type="module" src="{{ url_for('static', filename='scripts/three.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
    </div>
    <div class="second-screen">
        
    </div>
    <footer>

    </footer>
</body>
</html>